@model MyPortfolioProjectNight.Models.Education
@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Eğitim Hayatı Bilgisi Güncelleme</h2>

<form method="post">
    @Html.HiddenFor(x => x.EducationID)
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Ünvan</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    <label>Açıklaması</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Başlagıç Tarihi</label>
    @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control" })
    <br />
    <label>Bitiş Tarihi</label>
    @Html.TextAreaFor(x => x.EndDate, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Stajı Ekle</button>
</form>
